<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BrainAppGroupID</key>
	<string>$(BRAIN_APP_GROUP)</string>
	<key>BrainICloudContainerID</key>
	<string>$(BRAIN_ICLOUD_CONTAINER)</string>
	<key>BrainGoogleClientID</key>
	<string>$(BRAIN_GOOGLE_CLIENT_ID).apps.googleusercontent.com</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).analysis</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).deep-analysis</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).mail-sync</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>brain</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).google-oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.$(BRAIN_GOOGLE_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>BrainSkill</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
</dict>
</plist>
